@charset "UTF-8";
@font-face {
  font-family: "Helvetica Neue";
  src: url(Fonts/helveticaneue/HelveticaNeueLt.ttf);
  }
* {
    font-family: "Helvetica Neue";
    line-height: 120%;
  }

 @import url('https://fonts.googleapis.com/css?family=Oswald:400,600');

body {
	font-family: "Helvetica Neue" sans-serif;
}

.dropdown-content h1
{
	font-family: 'Oswald', sans-serif;
}


.dropdown{
	background-color: aqua;
	width:4%;
	height:100vh; 
    position: absolute;
    left:0px;
	top:0px;
}

.dropbtn {
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    left:0px;
	top:0px;
	height:100vh;
	background-color: azure;
	width:400%;	
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
	text-decoration: none;
	background-color:antiquewhite;
	border: 0.5px solid black;

}

.dropdown-content a:hover{
    color: black;
    padding: 12px 16px;
    display: block;
	text-decoration: none;
	background-color: white;
	border: 0.5px solid black;

}

.menuHeader img
{
  position: absolute;
  top:0.1em;
  right:0.1em;
  
}
.menuHeader
{
  position: relative;

}

.show {
	display:block;
	-webkit-animation: myfirst 1s 1; /* Safari 4.0 - 8.0 */
    animation: myfirst 1s 1;
}
.hide {display:none;}

@-webkit-keyframes myfirst {
    0%   { left: -100px; top: 0px;}
    25%  { left: 10px; top: 0px;}

}

@keyframes myfirst {
    0%   {left: -200px; top: 0px;}
}