@charset "UTF-8";
@font-face {
  font-family: "Helvetica Neue";
  src: url(Fonts/helveticaneue/HelveticaNeueLt.ttf);
  }
* {
    font-family: "Helvetica Neue";
    line-height: 120%;
  }

 @import url('https://fonts.googleapis.com/css?family=Oswald:400,600');

body {
	font-family: "Helvetica Neue" sans-serif;
    background-color:#AFB7BF;
}

.dropdown-content h1
{
	font-family: "Helvetica Neue";
    color: whitesmoke;
}


.dropdown{
	background-color: #091730;
	width:4%;
	height:100vh; 
    position: absolute;
    left:0px;
	top:0px;
}

.dropbtn {
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    left:0px;
	top:0px;
	height:100vh;
	background-color: #091730;
	width:400%;	
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
	text-decoration: none;
	background-color:#4F5D6B;
	border: 0.5px solid black;
    font-weight:100;

}

.dropdown-content a:hover{
    color: black;
    padding: 12px 16px;
    display: block;
	text-decoration: none;
	background-color: white;
	border: 0.5px solid black;

}

.menuHeader img
{
  position: absolute;
  top:0.1em;
  right:0.1em;
  
}
.menuHeader
{
  position: relative;
}

.show {
	display:block;
	-webkit-animation: goOut 1s 1; /* Safari 4.0 - 8.0 */
    animation: goOut 1s 1;
}
.hide {
	display:block;
}

@-webkit-keyframes goOut {
    0%   { left: -300%; top: 0%;}
}
@keyframes goOut {
    0%   {left: -300%; top: 0%;}
}

div.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 69%;
    background: #f1f1f1;
}

div.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

div.example button:hover {
    background: #0b7dda;
}

div.example::after {
    content: "";
    clear: both;
    display: table;
}

.TitleCard
{
	position: absolute;
	top:0%;
	right:0%;
	background-color: #05233F;
	height:8vh;
	width:96%;
	z-index: -1;
	color: white;
	display:flex;
    align-items: center;
    justify-content: center;
}
