@font-face {
    font-family: 'copper-hewitt';
    src: url('/dcbmovies/NewStudio/CSS/Fonts/cooper-hewitt/CooperHewitt-Semibold.otf');
}

.FancyTitle
{
	font-family: 'copper-hewitt';
}
.ParagraphFont
{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	z-index: 2;
}
.load-hidden {
    visibility: hidden;
}
.cursor
{
	cursor:pointer;
}